*{
    padding: 0;
    margin: 0;
}

body{
    padding: 20px;
    background-color: #f7f7f7;
}

.name{
    position: absolute;
    width: 300%;
    top: 36%;
    left: 130%;
    font-family: ArialSans;
    font-size: 200%;
    height: 50px;
}

