body{
    display: block;
    background-color: #f7f7f7;
    min-height: 100%;
    height: auto;
    margin: 0;
}

.page {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
  
.container {
    max-width: 1700px;
    padding-left: 10px; padding-right: 10px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-flow: row wrap;
}

.top_mobile_line{
    width: 100%;
    position: absolute;
    position: relative;
    height: 279px;
    top: 0px;
    left: 0;
    border-width: 0px;
    border-radius:0 0 max(1.3vw, 25px) max(1.3vw, 25px);
    background-color: #ffffff;
    border-color: #000000;
    border-style: solid;
    box-shadow: 0.63vw 0.52vw 1.56vw 0px rgb(0 0 0 / 40%);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top_mobile_line_text{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-family: 'WSL',Arial,sans-serif;
    padding: 20px;
    background-color: rgba(224, 222, 222, 0.26);
    border-radius: 10px;
    margin-bottom: 20px;
    color: #000000;
    text-decoration: none;
}

.top_mobile_icon{
    position: absolute;
    left: 20px;
    top: 13px;
    width: 40px; height: 40px;
    background-size: cover;
    background-position: center;
    display: none;
    z-index: 3;

    transition: all 0.4s;
}

.hamburger-menu{
    margin-top: -213px;
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;

    transition: all 0.4s;
}

/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
    display: none;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: none; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: absolute;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 5;

    transition: all 0.4s;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__btn {
    top: calc(max(20px, 1.04vw) + 213px);
  }
  #menu__toggle:checked ~ .hamburger-menu {
    margin-top: 0px;
  }
  #menu__toggle:checked ~ .top_mobile_icon{
    top: calc(max(20px, 1.04vw) + 206px);
  }

  .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}

.head{
    min-height: 105px;
    height: 6vw;
    width: 100%;
    margin-top: 2vw;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.img_size{
    position: relative;
    float: left;
    z-index: 6;
}
.exit_img{
    min-width: 24px; min-height: 24px;
    width: 1.25vw; height: 1.25vw;
    background-size: cover;
    background-position: center;
}

img{
    min-width: 105px;
    min-height: 105px; 
    width: 5.47vw;
    height: 5.47vw; 
}

.top_line{
    z-index: 5;
    top: 1.5%;
    min-width: 3px;
    min-height: 105px;
    width: 0.16vw;
    height: 5.47vw;
    background-color: #000000;
    position: relative;
    float: left;
    margin-left: max(1.04vw, 20px);
}

.top_text_left{
    z-index: 2;
    min-height: 90px;
    margin-left: max(1.04vw, 20px);
    height: 4.69vw;
    display: flex;
    position: relative;
    float: left;
    align-items: center;
    line-height: max(2.50vw, 48px);
    color: #000000;
    font-size: max(1.61vw, 23px);
    font-weight: 600;
    text-align: right;
    font-family: 'WSB',Arial,sans-serif;
    transition: 0.3s;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes top_text_animation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

#top_text_right{
    z-index: 0;
    min-width: 500px;
    min-height: 90px;
    width: 26.04vw;
    height: 4.69vw;
    position: relative;
    float: left;
    margin-left: max(1.04vw, 20px);
    line-height: max(4.69vw, 90px);
    color: #000000;
    font-size: max(1.88vw, 36px);
    font-weight: 400;
    font-family: 'WSL',Arial,sans-serif;
    transition: 0.3s;
    text-align: left;
    vertical-align: middle;

    transform: translateX(min(-1.04vw, -20px));
    animation-duration: 0.5s;
    animation-name: top_text_animation;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

.top_information_conteiner{
    min-width: 220px;
    min-height: 80px;
    height: 4.17vw;
    background-color: transparent;
    position: relative;
    display: flex;
    margin-left: auto;
    float: right;
    transition: 0.2s;
    border-radius: 1.04vw;
}

.top_information_conteiner:hover .exit_block{
    background-color: rgba(236, 234, 234, 0.616);
    opacity: 1;
    transform: translateY(0);
}
.top_information_conteiner:hover{
    border-radius: 1.04vw 1.04vw 0 0;
    background-color: rgba(236, 234, 234, 0.616);
}

.top_information_text_btn:hover{
    transform: translateY(3px);
    background-color: rgba(224, 222, 222, 0.74)
}
.top_information_textblue_btn{
    z-index: 1;
    cursor: pointer;
    background-color: transparent;
    min-width: 220px;
    min-height: 80px;
    height: 4.17vw;
    width: 11.46vw;
    position: relative; 
    line-height: max(1.88vw, 36px);
    font-size: max(1.2vw, 23px);
    font-weight: 500;
    text-align: center;
    font-family: 'WM',Arial,sans-serif;
    border-radius: 1.04vw;
    transition: 0.3s;
    display: flex;
    float: right;
    align-items: center;
    justify-content: center;
    background-color:#0260e8;
    color:white;
    text-decoration: none;
}

.top_information_textblue_btn:hover{
    transform: translateY(3px);
    background-color: #0255ca;
}

.exit_block{
    min-width: 150px;
    min-height: 50px;
    width: 100%;
    height: 2.6vw;
    background-color: transparent;
    position: absolute;
    top: max(4.17vw, 80px);
    border-radius: 0 0 1.04vw 1.04vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-10px);
    opacity: 0;
    color: black;
    font-size: max(1.2vw, 23px);
    font-weight: 500;
    text-align: center;
    font-family: 'WM',Arial,sans-serif;
    text-decoration: none;
    vertical-align: middle;

    margin: auto;

    transition: 0.2s;
}

table{
    table-layout:fixed;
    border-collapse: separate;
    border-spacing: max(10px, 0.52vw) max(19px, 0.99vw);
}

tr{
    padding: 4px 4px;
}

.earned_circle_tablet{
    margin-right: 1vw;
    height: 100%;
    width: 18vw;
    min-height: 290px;
    min-width: 170px;
    position: relative;
    padding: 1vw 1vw;
    border-width: 0px;
    border-radius: max(1.3vw, 25px);
    background-color: #ffffff;
    background-position: center center;
    border-color: #000000;
    border-style: solid;
    box-shadow: 0.63vw 0.52vw 1.56vw 0px rgb(0 0 0 / 40%);
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
}
.earned_circle{
    height: 16vw;
    width: 16vw;
    min-width: 160px;
    min-height: 160px;
    border-width: max(0.52vw, 10px);
    border-radius: 100%;
    background-color: #ffffff;
    background-position: center center;
    border-color: #0260e8;
    border-style: solid;
    color: #000000;
    text-decoration: none;
	font-weight: 400;
	text-align: center;
	font-family: 'WSB';
    font-size: max(2.5vw, 20px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.debic{
    transition:
        transform   1s linear 0s,
        opacity     1s linear 0s,
        font-size 0.5s linear 0.5s;
}
.up_blocks{
    margin-top:10vw;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.tablet_titles{
    position: relative;
    color: #000000;
    font-size: max(1.2vw, 23px);
    font-family: 'WSM',Arial,sans-serif;
    font-weight: 500;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    text-align: center;
}

table{
    table-layout:fixed;
    border-collapse: separate;
    border-spacing: max(10px, 0.52vw) max(19px, 0.99vw);
}

.tablet{
    z-index: 1;
    min-width: 300px;
    position: relative;
    border-width: 0px;
    border-radius: max(1.3vw, 25px);
    background-color: #ffffff;
    background-position: center center;
    border-color: #000000;
    border-style: solid;
    box-shadow: 0.63vw 0.52vw 1.56vw 0px rgb(0 0 0 / 40%);
    flex: auto;
}

.tablet_element{
    display: inline-flex;
    z-index: 0;
    width: 100%;
    min-height: 80px;
    height: auto;
    position: relative;
    border-width: 0px;
    border-radius: max(1.3vw, 25px);
    background-color: #ffffff;
    background-position: center center;
    border-color: #000000;
    border-style: solid;
    box-shadow: 0.63vw 0.52vw 1.56vw 0px rgb(0 0 0 / 40%);
    color: #000000;
    text-decoration: none;
    line-height: 43px;
	font-weight: 400;
	text-align: center;
	font-family: 'WM';
    font-size: max(1.2vw, 19px);
    align-items: center;
    justify-content: center;
}

.second_element{
    width: 15%;
}

.tablet_element_sbor{
    width: 20%;
    min-height: 80px;
    height: 4.17vw;
    position: relative;
    border-width: 0px;
    border-radius: max(1.3vw, 25px);
    background-color:  #0260e8;

    transition: all 0.2s ease;
}
.tablet_element_sbor:hover{
    transform: scale(1.1,1.1);
}

.a_table_style{
    cursor: pointer;
    display: flex;
    min-height: 80px;
    width: 100%;
    height: 100%;
    border-width: 0px;
    border-radius: max(1.3vw, 25px);
    color: #fff;
    text-decoration: none;
	text-align: center;
	font-family: 'WM';
	font-size: max(1.2vw, 19px);
    font-weight: 400;
    align-items: center;
    justify-content: center;
}

.tooltip{
	position: fixed;
	display: none;
	justify-content: center;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	background-color: #f7f7f7;
	border-width: 0px;
    border-radius: max(1.3vw, 25px);
    background-position: center center;
    border-color: #000000;
    border-style: solid;
    box-shadow: 0.63vw 0.52vw 1.56vw 0px rgb(0 0 0 / 40%);
	flex-direction: column;
	z-index: 8;
    padding: max(10px, 0.52vw);
}

.tooltip_control_tablet{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    border-radius: max(1.3vw, 25px);
}

.tooltip_tablet{
    height: 100%;
    width: 100%;
	border-collapse: collapse;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
    background: linear-gradient(45deg, #2BAD94, #0260e8);
    min-width: 300px;
    position: relative;
    border-width: 0px;
    border-radius: max(1.3vw, 25px);
}

.tooltip_td{
    word-break: break-word;
    display: inline-flex;
    width: 50%;
    min-height: 80px;
    height: 100%;
    border-width: 0px;
    background-position: center center;
    border-style: solid;
    color: #000000;
    text-decoration: none;
	font-weight: 400;
	text-align: center;
	font-family: 'WM';
    font-size: max(1.2vw, 19px);
    align-items: center;
    justify-content: center;

    padding: max(15px, 0.2vw);
	background-color:inherit;
	color: #fff;
}

.tooltip_tablet tr:hover td {
	background: rgba(255, 255, 255, 0.137);
}

.close {
	position: absolute;
	cursor: pointer;
	right: max(32px, 1.67vw);
	top: max(32px, 1.67vw);
	width: max(32px, 1.67vw);
	height: max(32px, 1.67vw);
	opacity: 0.5;
    z-index: 9;
}
.close:hover {
    opacity: 1;
}
    .close:before, .close:after {
    position: absolute;
    left: max(15px, 0.78vw);
    content: ' ';
    height: max(33px, 1.72vw);
    width: max(2px, 0.10vw);
    background-color: #ffffff;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

* {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
button.learn-more {
    cursor: pointer;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    width: 16rem;
    height: auto;
}
button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    /*min-width: 48px; min-height: 48px;
    width: 2.50vw;
    height: 2.50vw;*/
    width: 3rem;
    height: 3rem;
    background: #0260e8;
    border-radius: 1.625rem;
}
button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}
button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}
button:hover .circle {
    width: 100%;
}
button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}
button:hover .button-text {
    color: #fff;
}
@supports (display: grid) {
    body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0.625rem;
        grid-template-areas: ". main main ." ". main main .";
    }
    #container1 {
        margin-top: max(80px, 5vw);
        position: relative;
        left: calc(50% - 116px);
    }
}
.mini_title_frame{
    width: 200px;
    margin-left: calc(60% - 100px);
    top: 208px;
    height: 60px;
    border-width: 0px;
    border-radius: 25px 25px 0 0;
    position: absolute;
    background-color: #ffffff;
    background-position: center center;
    border-color: #000000;
    border-style: solid;
    box-shadow: 12px 10px 30px 0px rgb(0 0 0 / 40%);
    display: table-cell;
    vertical-align: middle;
}

.mini_titles_texts{
    position: relative;
    top: 20%;
    font-size: max(1.88vw, 36px);
    color: #000000;
    font-size: max(1.2vw, 23px);
    font-family: 'WSM',Arial,sans-serif;
    font-weight: 500;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.tablet_titles{
    position: relative;
    color: #000000;
    font-size: max(1.2vw, 23px);
    font-family: 'WSM',Arial,sans-serif;
    font-weight: 500;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    text-align: center;
}

.tablet_of_CO_el_left{
    z-index: 0;
    width: 150%;
    min-height: 80px;
    height: 4.17vw;
    border-width: 0px;
    border-radius: max(1.3vw, 25px);
    background-color: #ffffff;
    background-position: center center;
    border-color: #000000;
    border-style: solid;
    box-shadow: 0.63vw 0.52vw 1.56vw 0px rgb(0 0 0 / 40%);
    color: #000000;
    line-height: 43px;
	font-weight: 400;
	text-align: center;
	font-family: 'WM';
    font-size: max(1.2vw, 19px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.tablet_of_CO_el_right{
    display: flex;
    width: 50%;
    height: 4.17vw;
    min-height: 80px;
    position: relative;
    border-width: 0px;
    border-radius: max(1.3vw, 25px);
    background-color:  #0260e8;
    background-position: center center;
    color: #fff;
    text-decoration: none;
    line-height: 43px;
	font-weight: 400;
	text-align: center;
	font-family: 'WM';
	font-size: max(1.2vw, 19px);
    align-items: center;
    justify-content: center;
    float: right;
}

#tablet_of_CO_arrow_frame{
    cursor: pointer;
    z-index: 0;
    width: max(50px, 2.60vw);
    height: max(60px, 3.13vw);
    margin: min(-10px, -0.52vw) auto;
    border-width: 0px;
    border-radius: 0 0 max(25px, 1.30vw) max(25px, 1.30vw);
    background-color: #ffffff;
    background-position: center center;
    border-color: #000000;
    border-style: solid;
    box-shadow: 0.63vw 0.52vw 1.56vw 0px rgb(0 0 0 / 40%);
    user-select: none;

    color: #000000;
    font-size: max(23px, 1.20vw);
    font-family: 'WSM',Arial,sans-serif;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateY(0px);
    transition: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#tablet_of_CO_arrow_frame:hover{
    transform: translateY(max(10px, 0.52vw));
}

#arrow_block{
    margin-left: auto;
    margin-right: 10vw;
    margin-top: min(-40px, -2.08vw);
    border-radius: 0px 0px max(10px, 0.52vw) max(10px, 0.52vw);
    box-shadow: 0.63vw 0.52vw 1.56vw 0px rgb(0 0 0 / 40%);
    display: none;
    width: max(120px, 6.24vw);
    height: max(40px, 2.08vw);
    z-index: 3;

}

.arrow_page_frame{
    cursor: pointer;
    width: max(40px, 2.08vw);
    height: max(40px, 2.08vw);
    border-width: 0px;
    border-radius: 0px 0px 0px max(10px, 0.52vw);
    background-color: #ffffff;
    background-position: center center;
    border-color: #000000;
    border-style: solid;
    user-select: none;
    color: #000000;
    font-size: max(23px, 1.20vw);
    font-family: 'WSM',Arial,sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s;
}

.arrow_page_frame:hover{
    box-shadow: 0 max(10px, 0.52vw) max(20px, 1.04vw) rgba(0, 0, 0, 0.3);
}

#counter{
    cursor: pointer;
    width: max(40px, 2.08vw);
    height: max(40px, 2.08vw);
    border-width: 0;
    border-radius: 0;
    background-color: #ffffff;
    background-position: center center;
    border-color: #000000;
    border-style: solid;
    user-select: none;
    color: #000000;
    font-size: max(23px, 1.20vw);
    font-family: 'WSM',Arial,sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s;
}

footer{
	margin-top: max(300px, 15.63vw);
	left: 0;
	background-color: #0260e8;
	justify-content: center;
	width: 100%;
	height: max(15.63vw, 300px);
	position: relative;
	display: flex;

    animation-timing-function: ease-in-out;
    transition: 1s;
}
.social{
    position: absolute;
    display: flex;
    width: 65%;
    justify-content: center;
    top: 20%;
    height: auto;
}
.a_footer{
    display: flex;
    position: relative;
	cursor: pointer;
    margin-left: 5%; margin-right: 5%;
}

.imgs_footer{
    min-width: 42px; min-height: 42px;
    width: 3vw; height: 3vw;
}

.helpy_footer{
	position: absolute;
	top: 70%;
	color: #ffffff;
    font-size: 28px;
    font-family: 'WM',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
	width: 90%;
	text-align: center;
}
.footer_line{
	position: absolute;
	background-position: center center;
	top: 60%;
	opacity: 0.3;
	width: 60%;
	height: 1px;
	background-color: #ffffff;
}
@media(min-width:2350px){
    .container{
        max-width: none;
        width: 85%;
    }
}
@media(max-width:1450px){
    #top_text_right{
        display: none;
    }
    .top_line{
        display: none;
    }
}
@media(min-width:2000px){
    .tablet_element{
        height: 4.17vw;
    }
}
@media(max-width:1071px){
    .earned_circle_tablet{
        width: 100%;
        height: 20vw;
        margin-bottom: 3vw;
        margin-right: 0;
    }
    .up_blocks{
        flex-wrap: wrap;
        margin-top: 3vw;
    }
    .tooltip{
		width: 90%;
		left: calc(50% - 45%);
	}
}
@media(max-width:923px){
    .tablet_of_CO_el_left{
        height: auto;
    }
}

@media(max-width:1230px){
    .head{
        display: none;
    }
    .menu__btn{
        display: flex;
    }
    .hamburger-menu{
        display:flex;
    }
    .top_mobile_line{
        display:flex;
    }
    .top_mobile_icon{
        display: block;
    }
}
@media(max-width:800px){
    td {
        display: inline-block;
    }
    .tablet_element_sbor{
        margin-top: 10px;
        width: 100%;
    }
    .tablet_titles{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    td {
        width: 100%;
        float: left;
    }
    .tablet_element{
        width: 100%;
    }
    .tablet_element_sbor{
        margin-top: 10px;
    }
    .tablet_of_CO_el_left{
        width: 100%;
    }
    .tablet_of_CO_el_right{
        margin-top: 10px;
        width: 100%;
    }
    #arrow_block{
        margin-right: 25px;
    }
}
@media(max-width:400px){
    #tablet_of_CO_arrow_frame{
        margin-left: 25px;
    }
}

@font-face {
	font-family: 'Quicksand';  
	src: url("../fonts/Quicksand-VariableFont_wght.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
 }
  @font-face {
    font-family: 'WSB';
    src:
        url('../fonts/Whitney-Semibold.woff2') format('woff2'),
        url('../fonts/Whitney-Semibold.woff') format('woff'),
        url('../fonts/Whitney-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'WM';
    src:
        url('../fonts/Whitney-Medium.woff2') format('woff2'),
        url('../fonts/Whitney-Medium.woff') format('woff'),
        url('../fonts/Whitney-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'WSL';
    src:
        url('../fonts/Whitney-Light.woff2') format('woff2'),
        url('../fonts/Whitney-Light.woff') format('woff'),
        url('../fonts/Whitney-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'WSExB';
    src: local('Whitney Black')
        url('../fonts/Whitney-Black.woff2') format('woff2'),
        url('../fonts/Whitney-Black.woff') format('woff'),
        url('../fonts/Whitney-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: 'WSExB';
    src: local('Unbounded')
        url('../fonts/Unbounded-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src:
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-style: normal;
  }