body{
  margin: 0;
  background-color: #f7f7f7;
  min-height: 100%;
  height: auto;
}

.container {
  max-width: 700px;
  padding-left: 10px; padding-right: 10px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-flow: row wrap;
}

.head{
  width: auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #0260e8;
  min-height: 75px;
  height: 4vw;
  color: white;
  font-family: "WSB";
  font-size: max(1.2vw, 23px);
  font-weight: 400;
  text-align: center;
}

.back{
  margin-top: 7vw;
  margin-bottom: max(19px, 1vw);
  background-color: #f1f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-flow: row wrap;
  border-radius: max(19px, 1vw);
  padding: max(19px, 1vw) 1vw max(19px, 1vw) 1vw;
  border: 0.05vw solid #dadce0;
}

.main_text{
  margin-top: max(19px, 1vw);
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  color: rgb(0, 0, 0);
  font-family: "WSB";
  font-size: max(0.99vw, 30px);
  font-weight: 500;
  text-align: center;
  margin-bottom: max(38px, 2vw);
}

.errors{
  z-index: 1;
  margin-top: -1vw;
  margin-bottom: 1vw;
  color: red;
  width: 100%;
  font-family: "WSL";
  font-size: max(0.52vw, 15px);
  font-weight: 300;
  text-align: left;
  letter-spacing: 0.01vw;
  margin-top: max(19px, 1vw);
}

.uname{
  width: 100%;
  color: rgb(0, 0, 0);
  font-family: "WM";
  font-size: max(0.99vw, 19px);
  font-weight: 300;
  margin-bottom: 1vw;
}

.inputs{
  min-height: 60px;
  height: 3.13vw;
  width: 100%;
  margin-bottom: max(19px, 1vw);
  text-align: center;
  position: relative;
  border-width: 0.10vw;
  border-color:#f7f7f7;
  border-radius: max(1.3vw, 25px);
  background-color: #ffffff;
  background-position: center center;
  border-style: solid;
  box-shadow: 0.32vw 0.27vw 0.78vw 0px rgb(0 0 0 / 40%);
  color: #000000;
	font-weight: 400;
	font-family: 'WM';
  font-size: max(0.99vw, 19px);
  align-items: center;
  outline:none;
  transition: all 0.3s;
}

.inputs:focus{
  transition: all 0.3s;
  border-color: rgb(2, 96, 232);
  box-shadow: 0.32vw 0.27vw 0.78vw 0px rgb(2 96 232 / 30%);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: rgb(2, 96, 232);
  box-shadow: 0.32vw 0.27vw 0.78vw 0px rgb(2 96 232 / 30%) inset;
}

.btn_pozvol {
  margin-top: max(76px, 4vw);
  font-family: 'WSL',Arial,sans-serif;
  font-weight: 600;
  text-transform: none;
  border-width: 0;
  border-radius: 5.21vw;
	min-width: 250px;
  width: 13.02vw;
  min-height: 55px;
  height: 2.86vw;
	background-color: #0260e8;
	font-size: max(1.15vw, 22px);
  font-family: 'WSL',Arial,sans-serif;
	box-shadow: 0.52vw 0.52vw 0.52vw 0.05vw rgb(2 96 232 / 30%);
	color: #ffffff !important;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: all .2s;
}

.btn_pozvol:link,
.btn_pozvol:visited {
  text-decoration: none;
  transition: all .2s;
}
.btn_pozvol:hover {
  transition: all .2s;
  transform: translateY(-0.16vw);
  box-shadow: 0 0.52vw 1.04vw rgba(0, 0, 0, 0.3);
	background-color: #0260e8;
}
.btn_pozvol:active {
    transform: translateY(-0.05vw);
    box-shadow: 0 0.26vw 0.52vw rgba(0, 0, 0, 0.2);
}

.btn_reg{
  margin-top: max(32px, 1.7vw);
  width: 100%;
  background: none;
  border: none;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-family: 'WSL',Arial,sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
  font-size: max(0.99vw, 19px);
  cursor: pointer;
}

.res_pass{
  z-index: 1;
  color: rgb(0, 0, 0);
  width: 100%;
  font-family: "WSL";
  font-size: max(0.52vw, 15px);
  font-weight: 300;
  text-align: left;
  letter-spacing: 0.01vw;
  text-decoration: none;
}

.technical_support{
  z-index: 1;
  color: rgb(0, 0, 0);
  width: 100%;
  font-family: "WSL";
  font-size: max(0.52vw, 15px);
  font-weight: 300;
  text-align: right; 
  letter-spacing: 0.01vw;
  text-decoration: none;
  margin-right: max(15px, 1vw);
  margin-bottom: max(19px, 1vw);
}

img{
  min-width: 105px;
  min-height: 105px; 
  width: 5.47vw;
  height: 5.47vw; 
}

@media(min-width:2350px){
  .container{
      max-width: none;
      width: 40%;
  }
}

@media(max-width:700px){
  .back{
    background-color: #f7f7f7;
    border-width: 0;
    padding: 0;
  }
  .technical_support{
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@font-face {
	font-family: 'Quicksand';  
	src: url("../fonts/Quicksand-VariableFont_wght.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
 }
  @font-face {
    font-family: 'WSB';
    src:
        url('../fonts/Whitney-Semibold.woff2') format('woff2'),
        url('../fonts/Whitney-Semibold.woff') format('woff'),
        url('../fonts/Whitney-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'WM';
    src:
        url('../fonts/Whitney-Medium.woff2') format('woff2'),
        url('../fonts/Whitney-Medium.woff') format('woff'),
        url('../fonts/Whitney-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'WSL';
    src:
        url('../fonts/Whitney-Light.woff2') format('woff2'),
        url('../fonts/Whitney-Light.woff') format('woff'),
        url('../fonts/Whitney-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'WSExB';
    src: local('Whitney Black')
        url('../fonts/Whitney-Black.woff2') format('woff2'),
        url('../fonts/Whitney-Black.woff') format('woff'),
        url('../fonts/Whitney-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: 'WSExB';
    src: local('Unbounded')
        url('../fonts/Unbounded-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src:
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-style: normal;
  }