.menu{
	position: fixed;
	height: 8%;
	width: 100%;
	background-color: #0260e8;
	top: 0;
	left: 0;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.30);
}
.left_menu_text{
	top: 23%;
	left: 2.4%;
	position: absolute;
	width: 7%;
	height: 100%;
	font-size: 2.4vw;
	color: white;
	font-family: Rany-Bold;
}
.contacts{
	font-weight: 900;
	font-family: Sans;
	top: 35%;
	left: 85%;
	width: 7%;
	height: 100%;
	position: absolute;
	text-align: center;
	color: white;
	font-size: 1.2vw;
	white-space: nowrap;
}
.otzivi{
	font-weight: 900;
	font-family: Sans;
	top: 35%;
	left: 92%;
	width: 6%;
	height: 100%;
	position: absolute;
	display: table-cell;
	text-align: center;
	color: white;
	font-size: 1.2vw;
	white-space: nowrap;
}
.otzivi:hover {
  	transition-duration: 700ms;
  	color: black;
}
.contacts:hover{
	color: black;
  	transition-duration: 700ms;
}
@keyframes tuda_obratno {
   0%{
   	color: white;
   }
   10%{
   	color: blue;
   }
   50%{
   	color: black;
   }
   75%{
   	color: violet;
   }
   100%{
   	color: white;
   }
}
@keyframes kok{
	0%{
		opacity: 0;
		font-size: 3vw;
	}
	50%{
		opacity: 0;
		font-size: 3vw;
	}
	100%{
		opacity: 1;
		font-size: 7.8vw;
	}
}
.title_text{
	height: 15%;
	text-align: center;
	position: absolute;
	font-family: Sans;
	font-weight: 900;
	font-size: 7.8vw;
	top: 27%;
	color: white;
	animation-name: kok;
	animation-duration: 1000ms;
}
@keyframes kok2{
	0%{
		opacity: 0;
		font-size: 3vw;
	}
	60%{
		opacity: 0;
		top: 60%;
	}
	100%{
		opacity: 1;
		top: 50%;
	}
}
.title_text2{
	height: 10%;
	line-height: 1;
	text-align: center;
	position: absolute;
	font-family: Sans;
	font-weight: 300;
	color: black;
	top: 50%;
	font-size: 2.35vw;
	animation-name: kok2;
	animation-duration: 1700ms;
}
@keyframes arrow_kok{
	0%{
		opacity: 0;
		top: 60%;
	}
	30%{
		opacity: 0;
		top: 70%;
	}
	65%{
		opacity: 1;
		top: 75%;
	}
	100%{
		opacity: 0;
		top: 70%;
	}
}

.arrow{
	position: absolute;
	top: 70%;
	width: 6%;
	height: 6%;
	animation-name: arrow_kok;
	animation-duration: 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.page1{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background: linear-gradient(#0260e8, #0461e8 31%, white 88%);
	display: flex;
   align-items: center;
   align-content: center;
   justify-content: center;
}

.page2{
	position: absolute;
	top: 100%;
	left: 0%;
	width: 100%;
	height: 60%;
	background: white;
	display: flex;
   align-items: center;
   align-content: center;
   justify-content: center;
}

.kok3{
	position: absolute;
	text-align: center;
	font-family: Sans;
	font-size: 4vw;
	top: 20%;
	font-weight: 900;
}

.kok4{
	position: absolute;
	text-align: center;
	font-family: Sans;
	width: 54%;
	font-size: 1.7vw;
	top: 62%;
	font-weight: 300;
}

.page3{
	position: absolute;
	top: 160%;
	left: 0%;
	width: 100%;
	height: 20%;
	background: white;
	display: flex;
   align-items: center;
   align-content: center;
   justify-content: center;
	text-align: center;
	font-family: Sans;
	font-size: 4vw;
	font-weight: 900;
}

.row{
	position: absolute;
	left: 0;
	width: 100%;
	height: 38%;
}

.row_title{
	font-weight: 900;
	position: absolute;
	top: 13%;
	left: 47%;
	width: 35%;
	height: 30%;
	text-align: center;
	font-family: Sans;
	font-size: 2.1vw;
}
.row_main_text{
	font-weight: 550;
	position: absolute;	
	top: 33%;
	left: 52%;
	width: 23%;
	height: 50%;
	text-align: center;
	font-family: Sans;
	font-size: 1.6vw;
}

@font-face {
	font-family: Rany;  
	src: url("../fonts/Rany Font/Rany.otf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
 }
 @font-face {
	font-family: Rany-Bold;  
	src: url("../fonts/Rany Font/Rany-Bold.otf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
 }
 @font-face {
	font-family: 'Moncerat';  
	src: url("../fonts/20806.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
 }
  @font-face {
	font-family: 'Sans';  
	src: url("../fonts/ArialSans.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
 }
 .menu{
	position: fixed;
	height: 8%;
	width: 100%;
	background-color: #0260e8;
	top: 0;
	left: 0;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.30);
}
.left_menu_text{
	top: 23%;
	left: 2.4%;
	position: absolute;
	width: 7%;
	height: 100%;
	font-size: 2.4vw;
	color: white;
	font-family: Rany-Bold;
}
.contacts{
	font-weight: 900;
	font-family: Sans;
	top: 35%;
	left: 85%;
	width: 7%;
	height: 100%;
	position: absolute;
	text-align: center;
	color: white;
	font-size: 1.2vw;
	white-space: nowrap;
}
.otzivi{
	font-weight: 900;
	font-family: Sans;
	top: 35%;
	left: 92%;
	width: 6%;
	height: 100%;
	position: absolute;
	display: table-cell;
	text-align: center;
	color: white;
	font-size: 1.2vw;
	white-space: nowrap;
}
.otzivi:hover {
  	transition-duration: 700ms;
  	color: black;
}
.contacts:hover{
	color: black;
  	transition-duration: 700ms;
}
@keyframes tuda_obratno {
   0%{
   	color: white;
   }
   10%{
   	color: blue;
   }
   50%{
   	color: black;
   }
   75%{
   	color: violet;
   }
   100%{
   	color: white;
   }
}
@keyframes kok{
	0%{
		opacity: 0;
		font-size: 3vw;
	}
	50%{
		opacity: 0;
		font-size: 3vw;
	}
	100%{
		opacity: 1;
		font-size: 7.8vw;
	}
}
.title_text{
	height: 15%;
	text-align: center;
	position: absolute;
	font-family: TSbold;
	font-weight: 500;
	font-size: 7.8vw;
	top: 27%;
	color: white;
	animation-name: kok;
	animation-duration: 1000ms;
}
@keyframes kok2{
	0%{
		opacity: 0;
		font-size: 3vw;
	}
	60%{
		opacity: 0;
		top: 60%;
	}
	100%{
		opacity: 1;
		top: 50%;
	}
}
.title_text2{
	height: 10%;
	line-height: 1;
	text-align: center;
	position: absolute;
	font-family: Sans;
	font-weight: 300;
	color: black;
	top: 50%;
	font-size: 2.35vw;
	animation-name: kok2;
	animation-duration: 1700ms;
}
@keyframes arrow_kok{
	0%{
		animation-timing-function:linear;
		animation-duration: 0s;
		opacity: 0;
		top: 66%;
	}
	33.3%{
		animation-timing-function:linear;
		opacity: 0;
		top: 65.4%;
	}
	66.6%{
		animation-timing-function:ease-in-out;
		opacity: 1;
		animation-delay: 2.8s;
		animation-duration: 1.3s;
		top: 67.2%;
	}
	100%{
		animation-timing-function:ease-in-out;
		animation-delay: 0s;
		animation-duration: 1.3s;
		opacity: 0;
		top: 66%;
		
	}
}

.arrow{
	position: absolute;
	top: 70%;
	width: 6%;
	height: 6%;
	animation-duration: 4s;
	animation-name: arrow_kok;
	animation-iteration-count: infinite;
}

.page1{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background: linear-gradient(#0260e8, #0461e8 31%, white 88%);
	display: flex;
   align-items: center;
   align-content: center;
   justify-content: center;
}

.page2{
	position: absolute;
	top: 100%;
	left: 0%;
	width: 100%;
	height: 60%;
	background: white;
	display: flex;
   align-items: center;
   align-content: center;
   justify-content: center;
}

.kok3{
	position: absolute;
	text-align: center;
	font-family: Sans;
	font-size: 4vw;
	top: 20%;
	font-weight: 900;
}

.kok4{
	position: absolute;
	text-align: center;
	font-family: TSBold;
	color: #ffffff;
	width: 100%;
	height: 20%;
	width: 54%;
	font-size: 3.80vw;
	font-weight: 700;
	letter-spacing: 1.1px;
	top: 62%;
	font-weight: 300;
}

.page3{
	position: absolute;
	top: 385%;
	left: 0%;
	width: 100%;
	height: auto;
	background: white;
	display: flex;
   align-items: center;
   align-content: center;
   justify-content: center;
	text-align: center;
	font-family: TSbold;
	font-size: 3.80vw;
	font-weight: 700;
	letter-spacing: 1.1px;
}

.big_circle{
	position: relative;
	border-radius: 3000px;
    background-color: #0260e8;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
	width: 900px;
	height: 900px;
	display: table;
    border-radius: 3000px;
    filter: blur(30px);
	top:40%;
	animation-duration: 3s;
	animation-name: big_circle_animation;
	animation-iteration-count: 1;
}

@keyframes big_circle_animation{
	0%{
		transform: translateX(-2000px)translateY(400px);
		animation-timing-function: ease-in-out;
		animation-duration: 0.4s;
		scale: 0.6;
		opacity: 1;
	}
	28% {
		transform: translateX(-700px)translateY(-200px);
		animation-timing-function: cubic-bezier(0.34,1.61,0.7,1);
		animation-duration: 0.5s;
		scale: 0.6;
		opacity: 1;
	}
	49% {
		transform: translateX(-400px)translateY(235px);
		animation-timing-function: cubic-bezier(0.34,1.61,0.7,1);
		animation-duration: 0.8s;
		scale: 0.6;
		opacity: 1;
	}
	64% {
		transform: translateX(0px)translateY(0px);
		animation-timing-function: cubic-bezier(0.34,1.61,0.7,1);
		animation-duration: 1s;
		scale: 0.6;
		opacity: 1;
	}
	100% {
		transform: translateX(0px)translateY(0px);
		animation-timing-function: ease-in-out;
		animation-duration: 1.1s;
		scale: 1;
	}

}

.pozvoleniya{
	position: absolute;
	left: 0;
	width: 100%;
	height: 38%;
}

.pozvoleniya_main_text{
	position: absolute;	
	left: 32%;
	width: 36%;
	height: 222px;
	line-height: 74px;
	font-size: 45px;
	text-align: center;
	font-family: 'TSL',Arial,sans-serif;
	font-weight: 550;
	letter-spacing: 1.1px;

}
.pozvoleniya_sircles{
	left: 27%;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	color: #000000;
    font-weight: 400;
    background-color: #0260e8;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    box-shadow: 6px 3px 20px 0px rgb(2 96 232);
	position: absolute;
}

.btn {
	line-height: 74px;
    font-family: 'TSR',Arial,sans-serif;
    font-weight: 600;
    font-size: 45px;
    text-transform: none;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
	position: absolute;
	text-align: center;
	padding-top: 5px;
	top: 150%;
	left: 40%;
	width: 20%;
	height: 20%;
 	display: inline-block;
 	vertical-align: middle;
	padding: 0px;
	background-color: #0260e8;
	color: #ffffff !important;

}
.btn:link,
.btn:visited {
    text-decoration: none;
    display: flex;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn::after {
    content: "";
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.row{
	position: absolute;
	left: 0;
	width: 100%;
	height: 38%;
}

.row_title{
	font-weight: 900;
	position: absolute;
	top: 13%;
	left: 45%;
	width: 35%;
	height: 30%;
	text-align: center;
	font-family: Sans;
	font-size: 2.2vw;
}
.row_main_text{
	line-height: 43px;
	font-weight: 400;
	position: absolute;	
	top: 43%;
	left: 49%;
	width: 28%;
	height: 50%;
	text-align: center;
	font-family: TSR;
	font-size: 1.4vw;
}
.row_button{
	font-family: TSL;
	font-weight: 700;
	position: absolute;
	text-align: center;
	padding-top: 5px;
	top: 92%;
	left: 49%;
	width: 28%;
	height: 12%;
	color: #000000;
	font-size: 1.2vw;
	line-height: 1.65;
	border-width: 1px;
	border-radius: 20px;
	background-color: #ffffff;
	background-position: center center;
	text-decoration: none;
	border-color: #000000;
	border-style: none;
	box-shadow: 0px 0px 30px 1px rgba(2,96,232,1);
}
.how_we_works_row{
	position: absolute;
	
}

@font-face {
	font-family: Rany;  
	src: url("../fonts/Rany Font/Rany.otf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
 }
 @font-face {
	font-family: Rany-Bold;  
	src: url("../fonts/Rany Font/Rany-Bold.otf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
 }
 @font-face {
	font-family: 'Moncerat';  
	src: url("../fonts/20806.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
 }
  @font-face {
	font-family: 'Sans';  
	src: url("../fonts/ArialSans.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
 }
 @font-face {
    font-family: 'TSExBold';
    src:
        url("../fonts/TildaSans-ExtraBold.woff2") format('woff2'),
        url("../fonts/TildaSans-ExtraBold.woff") format('woff'),
        url("../fonts/TildaSans-ExtraBold.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'TSbold';
    src:
        url('../fonts/TildaSans-Bold.woff2') format('woff2'),
        url('../fonts/TildaSans-Bold.woff') format('woff'),
        url('../fonts/TildaSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'TSR';
    src:
        url('../fonts/TildaSans-Regular.woff2') format('woff2'),
        url('../fonts/TildaSans-Regular.woff') format('woff'),
        url('../fonts/TildaSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'TSL';
    src:
        url('../fonts/TildaSans-Light.woff2') format('woff2'),
        url('../fonts/TildaSans-Light.woff') format('woff'),
        url('../fonts/TildaSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  /**/

  .heder{
	position: absolute;
	top: 0;
	height: 5%;
	width: 100%;
	
  }