
@keyframes kok{
	0%{
		opacity: 0;
		font-size: 3vw;
		opacity: 0;
		font-size: 3vw;
	}
	50%{
		opacity: 0;
		font-size: 3vw;
	}
	100%{
		opacity: 1;
		font-size: 8vw;
	}
}
.title_text{
	height: 15%;
	text-align: center;
	position: absolute;
	font-family: Quicksand;
	font-weight: 600;
	font-size: 8vw;
	top: 27%;
	color: white;
	animation-name: kok;
	animation-duration: 1000ms;
}
@keyframes kok2{
	0%{
		opacity: 0;
		font-size: 3vw;
	}
	60%{
		opacity: 0;
		top: 60%;
	}
	100%{
		opacity: 1;
		top: 50%;
	}
}
.title_text2{
	height: 10%;
	line-height: 1;
	text-align: center;
	position: absolute;
	font-family: WM;
	font-weight: 100;
	color: black;
	top: 50%;
	font-size: 1.78vw;
	animation-name: kok2;
	animation-duration: 1700ms;
}
@keyframes arrow_kok{
	0% {
		opacity: 0;
		transform: translateY(0px);
		animation-timing-function: linear;
	}
	1% {
		opacity: 0;
		transform: translateY(0px);
		animation-timing-function: linear;
	}
	52% {
		opacity: 0;
		transform: translateY(0px);
		animation-timing-function: ease-in-out;
	}
	76% {
		opacity: 1;
		transform: translateY(15px);
		animation-timing-function: ease-in-out;
	}
	100% {
		opacity: 0;
		transform: translateY(0px);
	}
}

.arrow{
	position: absolute;
	top: 70%;
	width: 6%;
	height: 6%;
	animation-duration: 5s;
	animation-name: arrow_kok;
	animation-iteration-count: 2;
	opacity: 0;
}

.page1{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	display: flex;
   align-items: center;
   align-content: center;
   justify-content: center;
   animation-name: page1_animation;
   animation-iteration-count: infinite;
   animation-duration: 16s;
   animation-timing-function: ease-in-out;
   background: linear-gradient(#0260e8 5%, #0461e8 15%, white 75%);
   box-shadow: 0 1000px 1000px -300px  #0260e8 inset;
	
}

@keyframes page1_animation{
	0%{
		box-shadow: 0 300px 1000px -300px  #0260e8 inset;
	}
	50%{
    	box-shadow: 0 900px 1000px -300px  #0260e8 inset;
	}
	100%{
		box-shadow: 0 300px 1000px -300px  #0260e8 inset;
	}
}

.page2{
	position: absolute;
	top: 100%;
	left: 0%;
	width: 100%;
	height: 60%;
	background: white;
	display: flex;
   align-items: center;
   align-content: center;
   justify-content: center;
}

.kok3{
	position: absolute;
	text-align: center;
	font-family: 'Sans';
	font-size: 4vw;
	top: 20%;
	font-weight: 900;
}

.kok4{
	position: absolute;
	text-align: center;
	font-family: WSB;
	color: #ffffff;
	width: 100%;
	height: 20%;
	width: 54%;
	font-size: 3vw;
	font-weight: 700;
	letter-spacing: 1.1px;
	top: 62%;
	font-weight: 300;
}

.page3{
	position: absolute;
	top: 355%;
	left: 0%;
	width: 100%;
	height: auto;
	background: white;
	display: flex;
   align-items: center;
   align-content: center;
   justify-content: center;
	text-align: center;
	font-family: WSB;
	font-size: 3.80vw;
	font-weight: 700;
	letter-spacing: 1.1px;

	opacity: 0;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.19,1,.22,1);
    backface-visibility: hidden;
    transform: translate(-100px,0);
}
.page3._active{
	transform: translate(0, 0);
	transition-delay: 0.2s;
	opacity: 1;
}
.big_circle{
	position: relative;
	border-radius: 3000px;
    background-color: #0260e8;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
	width: 900px;
	height: 900px;
	display: table;
    border-radius: 3000px;
    filter: blur(30px);
	top:40%;
	opacity: 0;
}

.big_circle._active{
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
	animation-duration: 2s;
	animation-name: big_circle_animation;
	animation-iteration-count: 1;
}

@keyframes big_circle_animation{
	0%{
		transform: translateX(-2000px)translateY(400px);
		animation-timing-function: ease-in-out;
		animation-duration: 0.4s;
		scale: 0.6;
		opacity: 1;
	}
	28% {
		transform: translateX(-700px)translateY(-200px);
		animation-timing-function: cubic-bezier(0.34,1.61,0.7,1);
		animation-duration: 0.5s;
		scale: 0.6;
		opacity: 1;
	}
	49% {
		transform: translateX(-400px)translateY(235px);
		animation-timing-function: cubic-bezier(0.34,1.61,0.7,1);
		animation-duration: 0.8s;
		scale: 0.6;
		opacity: 1;
	}
	64% {
		transform: translateX(0px)translateY(0px);
		animation-timing-function: cubic-bezier(0.34,1.61,0.7,1);
		animation-duration: 1s;
		scale: 0.6;
		opacity: 1;
	}
	100% {
		transform: translateX(0px)translateY(0px);
		animation-timing-function: ease-in-out;
		animation-duration: 1.1s;
		opacity: 1;
		scale: 1;
	}

}

.pozvoleniya{
	position: absolute;
	left: 0;
	width: 100%;
	height: 38%;
}

.pozvoleniya_main_text{
	position: absolute;	
	left: 32%;
	width: 36%;
	height: 222px;
	line-height: 74px;
	font-size: 45px;
	text-align: center;
	font-family: 'WSL',Arial,sans-serif;
	font-weight: 550;
	letter-spacing: 1.1px;

	opacity: 0;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.19,1,.22,1);
    backface-visibility: hidden;
    transform: translate(-100px,0);
}
.pozvoleniya_main_text._active{
	transform: translate(0, 0);
	transition-delay: 0.1s;
	opacity: 1;
}
.pozvoleniya_sircles{
	left: 27%;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	color: #000000;
    font-weight: 400;
    background-color: #0260e8;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    box-shadow: 6px 3px 20px 0px rgb(2 96 232);
	position: absolute;

	opacity: 0;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(.19,1,.22,1);
    backface-visibility: hidden;
    transform: translate(-100px,0);
}
.pozvoleniya_sircles._active{
	transform: translate(0, 0);
	transition-delay: 0.1s;
	opacity: 1;
}
.btn_pozvol {
	line-height: 74px;
    font-family: 'WSL',Arial,sans-serif;
    font-weight: 600;
    text-transform: none;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
	position: absolute;
	text-align: center;
	padding-top: 5px;
	top: 85%;
	left: calc(50% - 200px);
	width: 400px;
    height: 65px;
 	display: inline-block;
 	vertical-align: middle;
	padding: 0px;
	background-color: #0260e8;
	font-size: 25px;
    font-family: 'WSL',Arial,sans-serif;
    line-height: 1.55;
	box-shadow: 10px 10px 10px 1px rgb(2 96 232 / 30%);
	color: #ffffff !important;

	animation-name: btn_pozvol_animation;
	animation-duration: 2.5s;
	transition-timing-function: cubic-bezier(.19,1,.22,1);

}

@keyframes btn_pozvol_animation{
	0%{
		opacity: 0;
		scale: 0.9;
		animation-delay: 1.5s;
	}
	50%{
		opacity: 0;
		scale: 0.9;
	}
	100%{
		opacity: 1;
		scale: 1;
	}
}


.btn_pozvol:link,
.btn_pozvol:visited {
    text-decoration: none;
    display: flex;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}
.btn_pozvol:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
	background-color: #0260e8;
}
.btn_pozvol:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn_pozvol::after {
    content: "";
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
.btn_pozvol:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.row{
	position: absolute;
	left: 0;
	width: 100%;
	height: 38%;
}

.row_title{
	font-weight: 900;
	position: absolute;
	top: 13%;
	left: calc(70% - 300px);
	width: 600px;
	height: 60px;
	text-align: center;
	font-family: 'WM';
	font-size: 2.2vw;

	opacity: 0;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.19,1,.22,1);
    backface-visibility: hidden;
    transform: translate(-100px,0);
}
.row_title._active{
	transform: translate(0, 0);
	transition-delay: 0.2s;
	opacity: 1;
}
.row_main_text{
	line-height: 43px;
	font-weight: 400;
	text-align: center;
	font-family: 'WM';
	font-size: 1.4vw;
	position: absolute;	
	top: 43%;
	left: calc(70% - 255px);
	width: 510px;
	height: 90px;

	opacity: 0;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.19,1,.22,1);
    backface-visibility: hidden;
    transform: translate(-100px,0);
}
.row_main_text._active{
	transform: translate(0, 0);
	transition-delay: 0.3s;
	opacity: 1;
}
.row_button{
	font-family: 'WSL';
	font-size: 1.15vw;	
	font-weight: 700;
	position: absolute;
	text-align: center;
	padding-top: 5px;
	top: 92%;
	left: calc(70% - 140px);
	width: 280px;
	height: 45px;
	color: #fff;

	line-height: 1.65;
	border-radius: 50px;
	background-color: #0260e8;;
	background-position: center center;
	text-decoration: none;
	border-color: #000000;
	border-style: none;
	box-shadow: 3px 4px 5px 2px rgb(0 0 0 / 30%);
	display: inline-block;

	opacity: 1;
}
.row_button._active{
	animation-fill-mode:backwards;
	animation-name: row_button_animation;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(.19,1,.22,1);
	animation-delay: 0.4s;
}

@keyframes row_button_animation{
	0%{
		transform: translate(-100px, 0);
		opacity: 0;
	}
	100%{
		transform: translate(0, 0);
		opacity: 1;
	}
}
.row_button:link,
.row_button:visited {
    border-radius: 100px;
    transition: all .2s;
}
.row_button:hover {
	border-radius: 100px;
	transition: all .2s;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.row_button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.how_we_works_row{
	position: absolute;
	left: 0;
	width: 100%;
	height: 38%;
}

.how_we_works_circles{
	top: 13%;
	width: 80px;
	height: 80px;
	border-radius: 50%;
    font-weight: 400;
    background-color: #0260e8;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
	position: absolute;
	margin: 0;
  	padding: 0;
	border: none;

	opacity: 0;
    transition-timing-function: cubic-bezier(.19,1,.22,1);
    backface-visibility: hidden;
    transform: translate(-100px,0);
}
.how_we_works_circles._active{
	transform: translate(0, 0);
	transition-delay: 0.2s;
	opacity: 1;
}
.how_we_works_circles_text{
	font-family: 'WM',Arial,sans-serif;
	font-weight: 600;
	width: 80px;
	font-size: 30px;
	position: absolute;
    top: 28.5%;
    text-align: center;
    color: #fff;
	line-height: 1.23;
	
	opacity: 0;
    transition-timing-function: cubic-bezier(.19,1,.22,1);
    backface-visibility: hidden;
    transform: translate(-100px,0);
}
.how_we_works_circles_text._active{
	transform: translate(0, 0);
	transition-delay: 0.2s;
	opacity: 1;
}
.how_we_works_titles{
	position: absolute;
	top: 40%;
	font-weight: 700;
	font-size: 30px;
	line-height: 1.35;
	width: 400px;
	font-family: 'WM',Arial,sans-serif;
    font-weight: 600;
    color: #000000;
	text-align: center;

	opacity: 0;
    transition-timing-function: cubic-bezier(.19,1,.22,1);
    backface-visibility: hidden;
    transform: translate(-100px,0);
}
.how_we_works_titles._active{
	transform: translate(0, 0);
	transition-delay: 0.2s;
	opacity: 1;
}

.how_we_works_text{
	top: 70%;
	position: absolute;
	text-align: center;
	font-family: 'WM',Arial,sans-serif;
    font-weight: 300;
    color: #000000;
	line-height: 1.55;
	margin: 0;
    padding: 0;
    border: 0;
	font-size: 20px;
	width: 400px;

	opacity: 0;
    transition-timing-function: cubic-bezier(.19,1,.22,1);
    backface-visibility: hidden;
    transform: translate(-100px,0);
}
.how_we_works_text._active{
	transform: translate(0, 0);
	transition-delay: 0.2s;
	opacity: 1;
}


.how_many_text {
  top: 643%;
  left: 50%;
  position: absolute;
  font-family: 'WSL',Arial,sans-serif;
  font-weight: 600;
  color: #000000;
  line-height: 43px;
  font-size: 28px;
  width: 30%;
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.spanan {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

.spanan:nth-child(1)._active {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.spanan:nth-child(2)._active {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.spanan:nth-child(3)._active {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.spanan:nth-child(4)._active {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.spanan:nth-child(5)._active {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.spanan:nth-child(6)._active {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.spanan:nth-child(7)._active {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.spanan:nth-child(8)._active {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.spanan:nth-child(9)._active {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.spanan:nth-child(10)._active {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.spanan:nth-child(11)._active {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.spanan:nth-child(12)._active {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.spanan:nth-child(13)._active {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.spanan:nth-child(14)._active {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.spanan:nth-child(15)._active {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.spanan:nth-child(16)._active {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.spanan:nth-child(17)._active {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.spanan:nth-child(18)._active {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.spanan:nth-child(19)._active {
  animation: fade-in 0.8s 1.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.spanan:nth-child(20)._active {
  animation: fade-in 0.8s 2.0s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.spanan:nth-child(21)._active {
  animation: fade-in 0.8s 2.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
.how_many_percent{
	top: 644%;
	left: calc(25% - 100px - 2%);
	position: absolute;
	text-align: center;
	letter-spacing: 0px;
	font-family: 'Quicksand',Arial,sans-serif;
	font-variation-settings: 'wght' 800;
	font-weight: 800;
    color: #000000;
	line-height: 155px;
	font-size: 100px;
	width: 200px;
}

.how_many_percent._active{
	animation-name: how_many_percent_animation;
	animation-duration: 2s;
}
@keyframes how_many_percent_animation{
	0%{
		opacity: 0;
		animation-delay: 2s;
	}
	50%{
		opacity: 0;
		animation-timing-function: ease-in-out;
		animation-duration: 1s;
	}
	100%{
		opacity: 1;
	}
}
.how_many_circle{
	top: 633%;
	position: absolute;
	left: calc(25% - 199.5px);
	border-width: 2px;
    border-radius: 50%;
    background-image: linear-gradient(182deg, rgba(2,96,232,1) 13%, rgba(255,255,255,1) 100%);
    border-color: #ffffff;
    box-shadow: -250px 300px 60px 0px rgb(255 255 255 / 0%);
    width: 399px;
    height: 399px;
    -webkit-filter: blur(29px);
    filter: blur(29px);
    border-radius: 3000px;
	opacity: 0;
}
.how_many_circle._active{
	opacity: 0.5;
	animation-name: how_many_circle_animation;
	animation-duration: 15s;
	animation-iteration-count: 1;
}
@keyframes how_many_circle_animation{
0% {
    animation-timing-function: cubic-bezier(0.1,1.61,0.7,1);
	animation-duration: 4s;
	opacity: 0;
}
33% {
	opacity: 1;
	animation-duration: 5s;
    transform: rotate(50deg);
    animation-timing-function: ease-in-out;
}
67% {
	animation-duration: 10s;
    transform: rotate(360deg);
    animation-timing-function: ease-in-out;
}
100% {
    opacity: 0.5;
}
}
.try_text{
	top: 713%;
	left: calc(50% - 325px);
	line-height: 31px;
	color: #000000;
    font-size: 22px;
    font-family: 'WM',Arial,sans-serif;
    line-height: 31px;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
	width: 650px;
	position: absolute;
	text-align: center;
}

.try_btn {
	font-family: 'Roboto';
	font-size: 1.3vw;	
	font-weight: 500;
	left: calc(50% - 100px);
	top: 730%;
	color: #ffffff;
    line-height: 1.55;
    border-radius: 30px;
    background-color: #0260e8;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    box-shadow: 0px 0px 30px 20px rgb(2 96 232 / 30%);
	width: 200px;
	height: 55px;
	position: absolute;
	text-transform: none;
    justify-content: center;
    align-items: center;
	text-align: center;
	padding-top: 3px;
}
.try_btn:link,
.try_btn:visited {
    text-decoration: none;
    display: flex;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}
.try_btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.try_btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.try_btn::after {
    content: "";
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
.try_btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
footer{
	left: 0;
	background-color: #0260e8;
	justify-content: center;
	top: 770%;
	width: 100%;
	height: 300px;
	position: absolute;
	display: flex;
}
.social{
    top: 25%;
    position: absolute;
    display: inline;
    width: 65%;
    left: 19.1%;
    height: auto;
}
.a_footer{
	cursor: pointer;
    margin: 7%;
}
.helpy_footer{
	position: absolute;
	top: 70%;
	color: #ffffff;
    font-size: 28px;
    font-family: 'WM',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
	width: 99.5%;
	text-align: center;
}
.footer_line{
	position: absolute;
	background-position: center center;
	top: 60%;
	opacity: 0.3;
	width: 1200px;
	height: 1px;
	background-color: #ffffff;
}
 @font-face {
	font-family: 'Quicksand';  
	src: url("../fonts/Quicksand-VariableFont_wght.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
 }
  @font-face {
    font-family: 'WSB';
    src:
        url('../fonts/Whitney-Semibold.woff2') format('woff2'),
        url('../fonts/Whitney-Semibold.woff') format('woff'),
        url('../fonts/Whitney-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'WM';
    src:
        url('../fonts/Whitney-Medium.woff2') format('woff2'),
        url('../fonts/Whitney-Medium.woff') format('woff'),
        url('../fonts/Whitney-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'WSL';
    src:
        url('../fonts/Whitney-Light.woff2') format('woff2'),
        url('../fonts/Whitney-Light.woff') format('woff'),
        url('../fonts/Whitney-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'WSExB';
    src: local('Whitney Black')
        url('../fonts/Whitney-Black.woff2') format('woff2'),
        url('../fonts/Whitney-Black.woff') format('woff'),
        url('../fonts/Whitney-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: 'WSExB';
    src: local('Unbounded')
        url('../fonts/Unbounded-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src:
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-style: normal;
  }
  /**/